body{
	font-family: serif;
	font-size: 12pt;
	background-image:url(../images/back.png);
	margin:0;
	padding:0;
}

h1{
	color: #B2834D;
	margin-top: 5px;
}

.logo{
	height:100px;
	margin-left: 110px;
}

.logo-text{
	font-size:28px;
	text-align: center;
	font-weight: bold;
	color: #B2834D;
	margin-top: 20px;
}

#header{
	width:900px;
	background: #fff;
	padding:15px;
	box-shadow: 0 5px 50px rgba(255,255,255,0.9);
	margin:0 auto;
}

#header .logo{
	float:left;
	margin-right:25px;
}

#container{
	box-shadow: 0 5px 50px rgba(255,255,255,0.9);
}

#menu{
	width:200px;
	border-right:1px solid #ccc;
}

#menu ul{
	padding:0;
	margin:0;
}

#menu li{
	list-style:none;
	padding:10px 5px;
	background:#B2834D;
	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
}

#menu li a{
	text-decoration:underline;
	color:#fff;
	font-weight: bold;
}

#container{
	width:900px;
	margin: 0 auto;
	background:#fff;
	margin-top:25px;
	border:1px solid #eee;
	padding:10px;
}

#content{
	padding:10px;
	width: 660px;
	text-align:justify;
}

#footer{
	font-size:80%;
	color: #000;
}

.item{
	border-top: 1px dashed #ccc;
	margin-top: 25px;
	padding-left: 35px;
}

.header-item{
	font-size: 24px;
	font-weight: bold;
}

.img-item>img{
	width: 300px;
}

.price-item>span{
	font-weight: bold;
}

.news{
	border-top: 1px solid #B2834D;
	margin-top: 25px;
	padding-left: 35px;
}

.header-new{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.img-new>img{
	width: 100%;
}

.date-new{
	font-size: 90%;
	color:#669999;
}

form{
	border-left: 3px solid #B2834D;
	padding-left: 10px;
}

.group{
	margin-bottom: 20px;
}

.group label{
	display: block;
	margin-bottom: 10px;
	color:#B2834D;
	font-weight: bold;
}

.group input{
	display: block;
	width: 100%;
}

input[type=submit]{
	color:white;
	background: #B2834D;
	height: 35px;
	width: 100%;
	font-size: 16px;
	cursor: pointer;
}

input[type=submit]:hover{
	cursor: pointer;
}

.otzyvy .item{
	margin-bottom: 10px;
}

.otzyvy .name{
	font-weight: bold;
}

.otzyvy .email{
	color: #669;
}